@import '../../../assets/css/global.scss';
@import './var.scss';
@import './mixins.scss';

#qiankunlayout {
  display: flex;
  flex-direction: row;
  background-color: var(--qkl-bg-color);

  /* 默认 theme */
  .qiankunlayout-menu {
    @include layout-menu;
  }

  #qiankunlayout-left {
    flex: 0 0 var(--qkl-left-side-bar-width);
    background-color: var(--qkl-menu-bg-color);
    z-index: 10;

    .qiankunlayout-left-sider {
      display: flex;
      flex-direction: column;
      width: var(--qkl-left-side-bar-width);

      .qiankunlayout-left-logo {
        width: 100%;
        height: var(--qkl-header-height);
        line-height: var(--qkl-header-height);
        text-align: center;
        vertical-align: middle;
        .logo-url {
          display: inline-block;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .logo-title {
            display: inline-block;
            margin: 0;
            font-size: 16px;
            font-family: Roboto, sans-serif;
            color: var(--qkl-menu-highlight-color);
          }
        }
        img {
          vertical-align: middle;
        }
      }


      .qiankunlayout-left-menu {
        flex: 1;

      }



    }

    &.fiexd {
      .qiankunlayout-left-sider {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        .qiankunlayout-left-menu {
          overflow: hidden auto;
        }
      }
    }

    &.narrow {
      flex: 0 0 var(--qkl-menu-collapsed-width);
      .qiankunlayout-left-sider {
        width: var(--qkl-menu-collapsed-width);
      }
    }


    @include scrollbar;

  }


  #qiankunlayout-right {
    display: flex;
    flex-direction:column;
    position: relative;
    width: 0;
    flex: auto;
    min-height: 100vh;
    background-color: var(--qkl-main-bg-color);


    #qiankunlayout-right-top {
      width: 100%;
      height: calc(var(--qkl-header-height) + var(--qkl-header-tab-nav-height));
      border-bottom: solid 1px rgba(0, 21, 41, 0.01);
      .qiankunlayout-right-top-header {
        display: block;
        height: calc(var(--qkl-header-height) + var(--qkl-header-tab-nav-height));
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
        background-color: var(--qkl-main-bg-color);
        z-index: 2;

        .qiankunlayout-right-top-top {
          display: flex;
          width: 100%;
          height: var(--qkl-header-height);
          line-height: var(--qkl-header-height);
          background-color: var(--qkl-bg-color);
          color: var(--qkl-color);

          .qiankunlayout-flexible {
            width: var(--qkl-header-height);
            height: var(--qkl-header-height);
            text-align: center;
            cursor: pointer;
            &:hover {
              background-color: --qkl-submenu-bg-color;
              color: --qkl-menu-higlight-bg-color;
            }
          }

          .qiankunlayout-top-menu {
            height: var(--qkl-header-height);
            line-height: var(--qkl-header-height);
            flex: 1;
            overflow: hidden;
            overflow-x: auto;
            .breadcrumb {
              line-height: var(--qkl-header-height);
            }
          }

          .qiankunlayout-top-menu-right {
            width: 200px;

            .qiankunlayout-top-message {
              display: inline;
              color: var(--qkl-color);
              .qiankunlayout-top-message-badge {
                  margin-left: -5px;
                  margin-top: -20px;
                  ::v-deep(.el-badge__content) {
                      border: 0;
                  }
              }
            }

            .qiankunlayout-top-usermenu {
              padding-left: 10px;
              color: var(--qkl-color);
              line-height: var(--qkl-header-height);
            }

            .qiankunlayout-top-selectlang {
              padding-left: 15px;
              line-height: var(--qkl-header-height);
              .dropDown {
                i,
                .svg-icon {
                  font-size: 16px;
                  color: var(--qkl-color);
                }
              }
            }

            .qiankunlayout-top-settings {
              margin-left: 15px;
              cursor: pointer;
            }

          }

          @include scrollbar;



          &.menu {

            background-color: var(--qkl-menu-bg-color);
            color: var(--qkl-menu-color);

            .qiankunlayout-right-top-logo {
              padding: 0 20px;
              height: var(--qkl-header-height);
              vertical-align: middle;
              .logo-url {
                display: inline-block;
                overflow: hidden;
                .logo-title {
                  display: inline-block;
                  margin: 0;
                  padding-left: 10px;
                  font-size: 14px;
                  font-family: Roboto, sans-serif;
                  font-weight: 400;
                  color: var(--qkl-menu-highlight-color);
                }
              }
              img {
                vertical-align: middle;
              }
            }


            .qiankunlayout-top-menu-right {
              .qiankunlayout-top-message,
              .qiankunlayout-top-usermenu{
                color: var(--qkl-menu-color);
              }
              .qiankunlayout-top-selectlang {
                .dropDown {
                  i,
                  .svg-icon {
                    color: var(--qkl-menu-color);
                  }
                }
              }
            }

          }


        }

        .qiankunlayout-top-tab-nav {
          height: calc(var(--qkl-header-tab-nav-height) - 4px);
          padding-top: 4px;
          /* background-color: #f0f0f0; */
          box-shadow: 0 -1px 4px rgba(0, 21, 41, 0.08);
          display: flex;
          align-items:center;
          .left,
          .right,
          .down {
              width: calc(var(--qkl-header-tab-nav-height) - 10px);
              height: calc(var(--qkl-header-tab-nav-height) - 8px);
              line-height: calc(var(--qkl-header-tab-nav-height) - 8px);
            /*  background-color: #FFFFFF; */
              text-align: center;
              font-size: 12px;
              cursor: pointer;
              .icon-box {
                  display: block;
                  width: calc(var(--qkl-header-tab-nav-height) - 10px);
                  height: calc(var(--qkl-header-tab-nav-height) - 8px);
                  line-height: calc(var(--qkl-header-tab-nav-height) - 8px);
              }
              .icon {
                  color: rgba(0,0,0,.45);
              }
              &:hover {
                  .icon {
                      color: rgba(0,0,0,.75);
                  }
              }
          }
          .down {
              padding-right: 10px;
              line-height: normal;
          }
          .middle {
              flex: 1;
              overflow: hidden;
              .tab {
                  position: relative;
                  float: left;
                  list-style: none;
                  overflow: visible;
                  white-space: nowrap;
                  transition: transform .5s ease-in-out;
                  .item {
                      height: calc(var(--qkl-header-tab-nav-height) - 6px);
                      line-height: calc(var(--qkl-header-tab-nav-height) - 6px);
                      background: #fafafa;
                      box-sizing: border-box;
                      white-space: nowrap;
                      display: inline-block;
                      padding: 0 10px;
                      border-radius: 4px 4px 0 0;
                      transition: all .3s cubic-bezier(.645,.045,.355,1);
                      cursor: pointer;
                      font-size: 14px;
                      color: rgba(0,0,0,.65);
                      border: 1px solid  var(--qkl-main-bg-color);
                      &+.item {
                          margin-left: 3px;
                      }
                      &:hover {
                          color: var(--el-color-primary);
                      }
                      .icon {
                          font-size: 10px;
                          margin: 0 0 2px 5px;
                          color: rgba(0,0,0,.45);
                          &:hover {
                              color: rgba(0,0,0,.75);
                          }

                      }
                      .icon-pre {
                          display: none;
                          font-size: 12px;
                          margin: 0 5px 0 0;
                          color: rgba(var(--el-color-primary), 0.75);
                          &:hover {
                              color: rgba(var(--el-color-primary), 1);
                          }
                      }
                  }
                  .active {
                      color: var(--el-color-primary);
                      background:#FFFFFF;
                      border-color:#FFFFFF;
                      .icon-pre {
                          display: inline-block;
                      }
                  }
              }
          }
        }
      }

      &.fiexd {
        .qiankunlayout-right-top-header{
          position: fixed;
          left: var(--qkl-left-side-bar-width);
          top: 0;
          right: 0;
        }
        &.narrow {
          .qiankunlayout-right-top-header{
            left: var(--qkl-menu-collapsed-width);
          }
        }
      }

      &.navModeHorizontal {
        &.narrow .qiankunlayout-right-top-header,
        .qiankunlayout-right-top-header{
          left: 0;
        }
      }

      &.tabNavEnable {
        height: var(--qkl-header-height);
        .qiankunlayout-right-top-header {
          height: var(--qkl-header-height);
        }
      }


    }

    #qiankunlayout-right-main {
      position: relative;
      flex: 1;
      height: 0;

      .qiankunlayout-main-conent {
        margin: 24px;
        position: relative;
      }

    }


  }


  /* 白色 theme */
  &.light {
    @include light-menu;

    #qiankunlayout-left{
      @include scrollbar-light;
    }
  }




}
