@import './var.scss';

@mixin layout-menu($height: 40px) {

  background-color: var(--qkl-menu-bg-color);
  border: none;


  .el-sub-menu .el-menu {
      background-color: var(--qkl-submenu-bg-color);
  }

  .el-sub-menu__title,
  .el-menu-item {
      height: $height;
      line-height: $height;
      color: var(--qkl-menu-color);
      .icon {
          margin-right: 5px;
          vertical-align: middle;
          width: 24px;
          text-align: center;
          color: var(--qkl-menu-color);
      }

      &:focus,
      &:hover {
          color: var(--qkl-menu-highlight-color) !important;
          background:none;
          .icon {
              color: var(--qkl-menu-highlight-color) !important;
          }
      }
  }

  .is-active>.el-sub-menu__title {
      color: var(--qkl-menu-highlight-color) !important;
      .icon {
          color: var(--qkl-menu-highlight-color) !important;
      }
  }
  .el-sub-menu .el-menu-item.is-active,
  .el-menu-item.is-active,
  .el-sub-menu .el-menu-item.is-active svg,
  .el-menu-item.is-active svg{
      color: var(--qkl-menu-highlight-color) !important;
      background-color: var(--qkl-menu-higlight-bg-color) !important;
  }
  .el-sub-menu__title {
      margin-top: 4px;
      margin-bottom: 4px;
  }
  .el-menu-item:not(:last-child) {
      margin-bottom: 8px;
  }


  /* 收起 */
  &.el-menu--collapse {
      width: var(--qkl-menu-collapsed-width);
      .el-sub-menu__title,
      .el-menu-item {
          .icon {
              position: absolute;
              left: 15px;
              top: 10px;
              margin: 0;
          }
      }
  }

  &.el-menu--horizontal.el-menu {

    .el-sub-menu__title,
    .el-menu-item {
      height: 48px;
      line-height: 48px;
      margin-top: 0;
      margin-bottom: 0;
    }


    .el-menu-item:not(:last-child) {
      margin-bottom: 0;
    }

  }



}

@mixin light-menu {
  --qkl-menu-bg-color: #FFF;
  --qkl-submenu-bg-color: #fafafa;
  --qkl-menu-color: rgba(0,0,0,.85);
  --qkl-menu-higlight-bg-color: #e6f7ff;
  --qkl-menu-highlight-color: var(--el-color-primary);
}
